.btn{
    width: 20vw;
    display: flex;
    justify-content: space-between;
}
.edit, .delete{
    font-size: 14px;
    color: white;
    border: none;
    cursor: pointer;
}
.edit{
    background-color: blue;
}

.delete{
    background-color: red;
}
