body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-color: antiquewhite;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
   
  h1{
    font-size: 50px;
    text-align: center;
    color: rgb(97, 93, 92);
  }
   h2{
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
  }
  h3{
    text-align: center;
  }

  p{
    font-style: italic;
  }
  .navBar { 
    position: fixed;  
    top: 0;  
    left: 0;  
    background-color: rgb(72, 72, 151); 
    width: 100%;   
    text-align: right; 
    padding: 5px 0; 
    overflow: hidden;
      
  }
  
  .navLink{
    color: antiquewhite;
    padding: 5px;
    text-decoration: none;
  }
     
  
  .navLink:hover{
    background-color: rgb(207, 188, 188);
    color:rgb(72, 72, 11);
  }

  .container-1{
    background-color: antiquewhite;
    height: 400px;
    width: 1200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
  }
  .container-2{
    background-color: rgb(224, 204, 180);
    height: 210px;
    width: 300px;
  }
.btn1{
  height: 40px;
  width: 80px;
  color: antiquewhite;
  text-align: center;
  background-color: rgb(220, 142, 40);
  border-radius: 10px;
  padding: 0px;
  margin: 5px;
}

.btn2{
  height: 40px;
  width: 90px;
  color: antiquewhite;
  text-align: center;
  background-color: rgb(220, 142, 40);
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  display: grid;
}

.error{
  color: red;
  font-weight: 600;
  
}

.lab{
  margin: 5px;
  display:grid;
}

.title{
  border-top: solid rgb(72 72 151) 0.5px;
  font-weight: 600;
  text-decoration: underline;
}

.comment{
  background-color:rgb(72 72 151);
  width: 80px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  color: antiquewhite;
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
}

.reply{
  font-size: medium;
  background-color: rgb(224, 204, 180);
  width: 50%;
  display: grid; 
  border-style: inset;
} 
 .image{
  height: 0px;
  width: 0px;

 }
/*Added by bernard, upto 155*/
.wrap{
  display: flex;
  align-items: center;
}

.addComment{
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(72 72 151);
  border-radius: 5px;
}

.addComment button:hover{
  color: rgb(72 72 151);
  background-color: white;
  font-weight: 500;
}

.logout{
  width:63px;
  height: 30px;
  margin-right: 20px;
  color: antiquewhite;
  font-weight: 350;
  font-size: medium;
  margin-top: 20px;
}

.navCont{
  display: flex;
  align-items: center;
  justify-content: right;
}

.guest{
  margin-top: 50px;
  color: red;
  font-weight: 500;
  position: sticky;
  top: 50px;
}

.react-confirm-alert-{
  position: relative;
  top: 50%;
}

.react-confirm-alert-button-group button:first-child{
  color: red;
  font-weight: 600;
}

.flexCommentButtons{
  display: flex;
  flex-direction: row;
}

.commentDiv{
  border-bottom: dotted black 2px;
}

.commentDiv:last-child{
  border-bottom: dotted rgb(72 72 151) 5px;
}

input[type="search"]{
  width: 50%;
  border: 2px solid rgb(72 72 151);
  border-radius: 10px;
}

.editComment{
  display: flex;
  flex-direction: column;
}

input[type="submit"]:hover{
  background-color:rgb(220, 142, 40) ;
}

.editform{
	width: 50%;
	height: fit-content;
	position: fixed;
	top: 100px;
	background-color: #2A2A62;
}

.editform textarea{
	width: 99%;
}

.editform input[type="text"]{
  width: 99%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.editform input[type="submit"]{
  width: 25%;
  margin-left: 37.5%;
}







