body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: burlywood;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2{
  font-size: 30px;
  text-align: center;
  color: burlywood;
}

.nav-bar {
  overflow: hidden;
  background-color: rgb(50, 50, 66);
  padding: 15px 20px;
  
}

.navbar-menu{
  float: right;
  display: flex;
  color: burlywood;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.navbar-menu:hover{
  background-color: #ddd;
  color:black;
}