body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    background-color: antiquewhite;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
   
  h1{
    font-size: 50px;
    text-align: center;
    color: rgb(97, 93, 92);
  }
   h2{
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
  }
  
  .navBar { 
    position: fixed;  
    top: 0;  
    left: 0;  
    background-color: rgb(72, 72, 151); 
    width: 100%;   
    text-align: right; 
    padding: 5px 0; 
    overflow: hidden;
      
  }
  
  .navLink{
    color: antiquewhite;
    padding: 5px;
    /* float:right;   */
     /* display: block;   */
     /* text-align: center;  */
    /* text-decoration: none;  */
     
  }
     
  
  .navLink:hover{
    background-color: rgb(207, 188, 188);
    color:rgb(72, 72, 11);
  }

  .container-1{
    background-color: antiquewhite;
    height: 300px;
    width: 500px;
    margin: 10px;
  }
.btn1{
  height: 40px;
  width: 140px;
  color: rgb(97, 93, 92);
  text-align: center;
  background-color: rgb(215, 189, 156);
  border-radius: 10px;
}

.error{
  color: red;
  font-weight: 600;
}

.title{
  border-top: solid rgb(72 72 151) 0.5px;
  font-weight: 600;
  text-decoration: underline;
}

.comment{
  background-color:rgb(72 72 151);
  width: 200px;
  height: 35px;
  padding: auto;
}

  