body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
    background-color: azure;
    width: 170%;
}

.input{
    display: flex;
    flex-direction: column;
}
.input > input{
    padding: 15px;
    margin: 15px;
    width: 95%;
    border: 1px solid gray;
}
.input > input[type='file']{
    border: none;
}
button{
    width: 100%;
    height: 50px;
    padding: 10px;
    color: white;
    border: none;
    background-color: rebeccapurple;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}
span{
    font-size: 12px;
    padding:  3px;
    color: red;
    display: none;
}
input:invalid[focused="true"]{
    border: 1px solid red;
}
input:invalid[focused="true"] ~ span{
    display: block;
}
#error-txt{
    background-color: orangered;
    color: darkred;
}